.loader {
  width: 100px;
  height: 100px;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #333;
  border-radius: 50%;
  margin: 20px auto;
  animation: spin 2s linear infinite;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg)
  }
}