.country-list-countainer {
  width: 992px;
  margin: 20px auto;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.bigger-font{
  margin-right: 5px;
}

@media (max-width: 991px){
  .country-list-countainer {
    width: 500px;
  }
}

@media (max-width: 991px){
  .country-list-countainer {
    width: 100%;
  }
}