.country-container {
  width: 200px;
  border: 1px solid #4d4d4d;
  border-radius: 5px;
  padding: 15px;
  margin: 5px;
}
.country-container .flag {
  margin-right: 5px;;
}
.country-container h3 {
  color: #4d4d4d;
  margin: 5px 0 15px 0;
}
.country-container p {
  margin: 5px 0;
}
.country-container button {
  background: #fff;
  border: 1px solid #4d4d4d;
  border-radius: 5px;
  padding: 7px;
  cursor: pointer;
  margin-top: 5px;
}

.language::after {
  content: ', ';
}
.language:last-child::after {
  content: '';
}

.item::after {
  content: ', ';
}
.item:last-child::after {
  content: '';
}

@media (max-width: 400px){
  .country-container  {
    width: 100%;
  }
}